body {
  background-image: url("C:\Users\Lenovo\Desktop\new react app\my-app\public\Frame 2input1.png");
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.btn-violet {
  background-color: #CF9FFF;
  /* Adjust the color code as needed */
  border-color: #CF9FFF;
}

.btn-gray {
  background-color: #8e918f;
}

.custom-file-input-label {
  background-color:white;
  color:black;
  padding: 6px 6px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;  font-size: 10px;
  width: 24%;

}
.custom-file-input {
  display: none;
  position: absolute;
  top: 110%; 

}
.hello{
  display: flex;
}
.hello>label{
  margin: 5px 0px 5px 16px;
}

.clevel{
   margin-right:140px;
   margin-top: 10px; 
   font-size: 14px; 
   font-weight: normal 
  }

.bullet{
  border-radius: 1%;
  background-color: black;
}

.multiplefiles{
  margin-right: 19%;
}
.user-story-item {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  margin-top: 8px;
  cursor: pointer;
}